.search-bar{

position: absolute;
padding-top: 100px;
  z-index: 20;
  margin-top: 10px;
  /* background-color: aliceblue; */
  background-color: rgb(2, 2, 67);
  padding-left: 120px;
  margin-left: -800px;

  
}